select {
    width: 100px;
    border-radius: 6px;
    height: 22px;
}

img {
    width: 200px;

}


body{
    display: flex;
    place-content: space-around;
    align-content: space-around;
    background-color: rgb(72, 151, 151);
    color: white;
}

#info{
    color: #E1BEE7;

}
