select {
    border-radius: 2px;
    height: 22px;
    width: 200px;
    background-color: #d3dada;
}

img {
    width: 200px;
    height: 200px;

}


body{
    display: flex;
    place-content: space-around;
    align-content: space-around;
    background-color: rgb(72, 151, 151);
    color: white;
} 

#info{
    color: #E1BEE7;

}

.resultado{
    width: 100px;
    height: 100px;
}



